<!DOCTYPE html>
<html lang="<%= @settings['lang'] %>" class="group/html min-h-screen has-inline-code-block light has-gray-scale-Slate no-scrollbar">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      <%= content_for?(:title) ? yield(:title) : "LiteTracker | Agile software development tool" %>
    </title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : '' %>">
    <meta name="keywords" content="LiteTracker, agile project management, project tracking tool, scrum tool, kanban board, sprint planning, agile software development, Pivotal Tracker alternative">
    <% if @page.present? %>
      <meta name="canonical"  content="<%= @page['canonical_url'] %>">
    <% end %>

    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'LiteTracker | Agile software development tool' %>" />
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : '' %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= @page.present? ? @page['canonical_url'] : request.original_url %>" />
    <%
      og_image = if @page.present? && @page['feature_image'].present?
                   @page['feature_image']
                 else
                   image_url('litetracker/lt-black-square.png')
                 end
    %>
    <meta property="og:image" content="<%= og_image %>" />
    <meta property="og:site_name" content="LiteTracker" />

    <%= favicon_link_tag 'litetracker/favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- script for mobile menu handle -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module" async></script>

    <%= stylesheet_link_tag '/css/ghost.min.css', media: 'all', "data-turbo-track": "reload" %>
    <style>
      .no-scrollbar::-webkit-scrollbar { display: none; }
      .no-scrollbar { scrollbar-width: none; -ms-overflow-style: none; }
    </style>

    <%= raw @settings['codeinjection_head'] %>
    <%= raw @page['codeinjection_head'] if @page.present? %>
    <%= raw @header_script if @header_script.present? %>
  </head>

  <body class="page-template page-blog tag-hash-blog-grid min-h-screen flex flex-col antialiased overflow-x-hidden text-gray-900 bg-white dark:text-gray-400 dark:bg-gray-900 [&amp;.has-modal]:h-screen [&amp;.has-modal]:overflow-hidden sal-disabled">
    <div class="absolute right-0 top-0 -z-10 overflow-hidden">
      <div class="relative w-[600px] h-[600px] -translate-y-2/3 translate-x-2/3 lg:-translate-y-1/2 lg:translate-x-1/2 bg-gradient-to-bl from-accent to-transparent rounded-full blur-[100px] opacity-50"></div>
    </div>

    <div id="viewport" class="relative min-h-screen flex flex-col">
      <a href="#main" class="group sr-only focus:not-sr-only focus-within:not-sr-only outline-none">
        <span class="relative flex items-center justify-center w-full h-12 font-semibold bg-gray-900 text-gray-50 text-sm group-focus-within:ring group-focus:ring ring-1 ring-inset ring-accent dark:bg-gray-800/60">
            Skip to main content
        </span>
      </a> 

      <%= render 'litetrackercom/layouts/partials/header' %>
      <main id="main" tabindex="-1" class="flex-none outline-none"> 
        <%= yield %>
      </main>

      <%= render 'litetrackercom/layouts/partials/footer' %>
    </div>
    <%= raw @settings['codeinjection_foot'] %>
    <%= raw @page['codeinjection_foot'] if @page.present? %>
    <%= raw @footer_script if @footer_script.present? %>
  </body>
</html>
